
Gestion de usuarios/__pycache__/models.cpython-310.pyc
Clase ticket y tabla/tickets/.idea/misc.xml
Clase ticket y tabla/tickets/.idea/vcs.xml
Gestion de usuarios/__pycache__/app.cpython-310.pyc
Gestion de usuarios/__pycache__/models.cpython-310.pyc
Clase ticket y tabla/tickets/.idea/misc.xml
Gestion de usuarios/__pycache__/app.cpython-310.pyc
